@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@400;700&display=swap');

// Colors
$accent: #b53471;
$white: #f1e8e8;
$dark-purple: #310c24;
$black: #1a0612;
$purple: #511734;

// Box shadows
$bs-accent: 0px 4px 4px rgba(181, 52, 113, 0.25);
$bs-black-16: 0px 3px 6px rgba(0, 0, 0, 0.16);
$bs-black-10: 0px 3px 6px rgba(0, 0, 0, 0.1);

// Fonts
$default-font: 'Roboto';
